body {
    background-color: beige;
    margin-left: 30px;
    margin-right: 30px;
}
.haut {
    height: 30px;
    width: auto;
    background-color: aqua;
}
.photo img {
    border: 1px solid black;
    border-radius: 100%;
}
.developpeuse {
    font-weight: bold;
    color: rgb(16, 16, 224);
    font-size: 30px;
}
.code img {
    border: 1px solid black ;
    border-radius: 20%;
}
.apropos {
    padding-top: 50px;
}
.icon {
    padding-top: 50px;
}

.formation {
    padding-top: 20px;
    padding-bottom: 20px;
}
